<div id="product_list" class="product_list">

<% if @giftlist.hidden == 0 || @user.username == session[:user] %>
<%= render (:partial => "show_giftlist", :object => @giftlist, :object => @user) %>
<% end %>
</table>
</div>

